<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="QLCBEntities" connectionString="metadata=res://*/QLCBModel.csdl|res://*/QLCBModel.ssdl|res://*/QLCBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-A9MDITG\SQLEXPRESS;initial catalog=QLCB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>